<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537545122887-2cqlrrao42ghouecjhuhrldbn45532ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537545122887-2cqlrrao42ghouecjhuhrldbn45532ju</string>
	<key>API_KEY</key>
	<string>AIzaSyCskSXwfuwrwztLSbPwLAEKeoOQGcQHutw</string>
	<key>GCM_SENDER_ID</key>
	<string>537545122887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>notification-ad7d0</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-ad7d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537545122887:ios:5bdc02be738d0d4857fd62</string>
</dict>
</plist>